.WhitelabelPage{
    font-family:Raleway-Regular;
    font-size:16px
}
.Wt_color_Bg, .Wt_white_Bg {
    padding: 80px 0;
}
.Wt_color_Bg{
    background: #f3f8fe;
}
.Wt_lblHeading {
    font-family: Raleway-semibold;
    color: #060817;
    font-size: 40px;
    font-weight: 700;
    margin: 0px 0 25px 0;
}
.Wt_lbl_mainHead {
    font-size: 55px;
    line-height: 76px;
}
.Wt_lblHeadingRed {
    color: #de4a4a;
}
.Wt_lblText {
    color: #272727;
    font-size: 24px;
}
.Wt_lbl_btn {
    background: #de4a4a;
    color: #fff;
    font-family: Raleway-Medium;
    padding: 7px 30px;
    font-size: 18px;
    box-shadow: 0 4px 8px 0 rgba(234, 41, 41, 0.16),0 6px 20px 0 rgba(195, 41, 41, 0.14);
    -webkit-box-shadow: 0 4px 8px 0 rgba(234, 41, 41, 0.16),0 6px 20px 0 rgba(195, 41, 41, 0.14);
    transition: .5s ease all;
    margin: 30px 0 20px 0;
}
.Wt_lbl_btn:hover {
    color: #de4a4a;
    border: 1px solid #de4a4a;
    background: transparent;
}
.Wt_lblCenter{
    display: table-cell;
    float: unset;
    vertical-align: middle;
    padding: 0 35px 0 35px;
}
.Wt_test_info {
    display: block;
}
.Wt_details {
    width: 30%;
    text-align: center;
    height: 325px;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin: 0 15px;
}
.Wt_details img{
    margin: 0px auto 0px;
}
.Wt_details h3 {
    color: #202002;
    font-family: Raleway-semibold;
    font-size: 31px;
}
.Wt_details p {
    color: #555;
    font-size: 18px;
}
.Wt_details_Seprator::before {
    content: '';
    background: url('../images/whitelabel_ad_page/010.png');
    height: 103px;
    width: 103px;
    position: absolute;
    z-index: 999;
    right: -18%;
    background-size: contain;
    background-repeat: no-repeat;
    top: 12%;
}
.Wt_lblSide_text {
    text-align: right;
    margin: 18px 0;
    color: #202020;
    font-family: Roboto;
    font-size: 21px;
}
.Wt_lblSide_text .fa {
    color: #fac917;
    margin: 0 10px 0 0;
}
.Wt_seriesPoint {
    list-style: none;
    margin: 35px 0 0 0;
}
.Wt_seriesPoint li {
    color: #202020;
    font-size: 23px;
    font-family: Raleway-Medium;
    padding: 4px 5px;
    display: table-row;
}
.Wt_listIcon_bg, .Wt_list_text {
    display: table-cell;
    vertical-align: middle;
}
.Wt_seriesPoint li .Wt_listIcon_bg {
    background: url(../images/whitelabel_ad_page/check.png) no-repeat;
    height: 19px;
    width: 19px;
    display: inline-block;
    background-size: contain;
    margin-right: 13px;
    transform: translateY(1px);
}
.adW_CoachingSlide {
    position: relative;
}
#adW_carousel {
    height:210px;
    position:relative;
    clear:both;
    overflow:hidden;
}
#adW_carousel img {
    visibility:hidden; 
    cursor:pointer; 
}
.adW_carousel_Arrow {
    text-align: center;
}
.adW_carousel_Arrow a {
    outline: none;
}
.adW_carousel_Arrow a .fa {
    color: #bcc8e0;
    font-size: 21px;
    height: 25px;
    width: 25px;
    background: #fff;
    border-radius: 50%;
    -webkit-box-shadow: 0px 0px 8px 0px rgb(221, 211, 211);
    -moz-box-shadow: 0px 0px 8px 0px rgb(221, 211, 211);
    box-shadow: 0px 0px 8px 0px rgb(221, 211, 211);
    line-height: 25px;
    margin: 0 6px 0 6px;
}
.wt_getInHeading {
    box-shadow: 0 4px 8px 0 rgba(95,95,95,.03),0 6px 20px 0 rgba(146,146,146,.18);
    background: #fff;
    padding: 50px 70px;
}
.Wt_getInForm .form-control {
    border: 1px solid #eee;
    height: 44px;
    margin: 20px 0;
    box-shadow: unset;
    font-size: 16px;
}
.Wt_getInForm .form-control:focus {
    border: 1px solid #9cc8ed;
}
.Wt_getInForm .Wt_lbl_btn {
    display: block;
    margin: 44px auto 0px;
}
.Wt_getInForm .form-control::placeholder {
    color: #747474;
}
.Wt_getInForm textarea.form-control {
    height: auto !important;
    width: 100% !important;
}
.Wt_Mobile_Image{
    display: none;
}
.adW_module {
  transform: translate3d(0, 100px, 0);
}
.come-in {
  transform: translate3d(0, 100px, 0);
  animation: come-in 0.8s ease forwards;
}
.come-in:nth-child(odd) {
  animation-duration: 0.6s;
}
.already-visible {
  transform: translate3d(0, 0, 0);
  animation: none;
}
@keyframes come-in {
  to {
        transform: translate3d(0, 0, 0);
    }
}
.Font_roboto {
    font-family: roboto;
    font-weight: 700;
}
.wt_getInHeading .Wt_lblHeading {
    font-size: 34px;
}
.app_viewImage {
    margin: 40px auto 0px;
}
@media (min-width:280px) and (max-width:767px){
    .Wt_lblCenter {
        float: left;
        text-align: center;
        padding: 0 20px 0 20px;
    }
    .Wt_lbl_mainHead, .Wt_lblHeading {
        font-size: 25px;
        line-height: 30px;
        margin: 0px 0 20px 0;
        font-weight: 500;
    }
    .Wt_lbl_btn { 
        padding: 6px 19px;
        font-size: 15px;
    }
    .Wt_test_info {
        display: block;
        white-space: nowrap;
        overflow: auto;
    }
    .Wt_details {
        width: 66%;
        display: inline-block;
        text-align: center;
        white-space: normal;
        vertical-align: middle;
        height: auto;
        padding: 0 11px;
    }
    .Wt_details_Seprator::before {
        right: -32%;
        top: 10%;
    }
    .Wt_details h3 {
        font-size: 20px;
    }
    .Wt_details p, .Wt_seriesPoint li {
        font-size: 16px;
    }
    .Wt_details img {
        height: 100px;
        width: 100px;
    }
    .Wt_lblText, .Wt_lblSide_text {
        font-size: 16px;
        margin: 18px 0 0;
        font-family: Raleway-Regular;
    }
    .Wt_lblSide_text {
        margin: 10px 0;
        text-align: center;
    }
    .Wt_color_Bg, .Wt_white_Bg {
        padding: 20px 0;
    }
    .Wt_seriesPoint {
        list-style: none;
        padding: 0 0;
        text-align: left;
    }
    .Wt_seriesPoint li .Wt_listIcon_bg {
        height: 16px;
        width: 16px;
        margin-right: 10px;
    }
    .Wt_list_text {
        font-size: 14px;
        font-family: Raleway-Regular;
    }
    .wt_getInHeading {
        padding: 18px 15px;
        margin-top: 20px;
    }
    .Wt_desktop_Image {
        display: none;
    }
    .Wt_Mobile_Image{
        display: block;
    }
    .Wt_listIcon_bg, .Wt_list_text {
        margin-top: 5px;
        padding: 4px 0;
    }
    .Wt_seriesPoint {
        margin: 14px 0 0 0;
    }
    .app_viewImage {
        margin: 15px auto 0px;
    }
    .wt_getInHeading .Wt_lblHeading {
        font-size: 23px;
    }
    .Wt_testS_point .Wt_lblText {
        text-align: left;
    }
    .Wt_testS_point .Wt_Mobile_Image {
        max-width: 73%;
        margin: 32px auto 25px;
    }
    .Wt_getInForm .form-control {
        font-size: 14px;
    }
}
@media (min-width:768px) and (max-width:1024px){
    .Wt_lbl_mainHead {
        font-size: 41px;
        line-height: 50px;
    }
    .Wt_lblCenter {
        padding: 0 15px 0 15px;
    }
    .Wt_lblText,.Wt_seriesPoint li  {
        font-size: 20px;
    }
    .Wt_details {
        width: 28%;
    }
    .Wt_details_Seprator::before {
        height: 95px;
        width: 95px;
        right: -28%;
    }
    .Wt_listIcon_bg, .Wt_list_text {
        padding: 2px 0;
    }
    .wt_getInHeading {
        padding: 23px 30px;
    }
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.update_loadings {
    display: unset;
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba( 0, 0, 0, 0.6);
    z-index: 9999;
    margin: auto;
    top: 0;
  }